h1{
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.current-weather {
    margin: 0 0;
    font-family: 'Space Mono', monospace;
    padding: 10px;
    border-radius: 15px;
    background-color:  #fddccb;
}
.container {
    margin-top: 10px;
    background-color: #91dbe5;
    height: 80vh;
    width: 150vh;
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: rgb(75, 74, 74);
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;


}

footer {
    font-family: 'Space Mono', monospace;
    margin-top: 75px;
    text-align: center;
    font-size: smaller;
}

.city {
    font-size: 60px;
    font-weight: 400;
}

.today {
    font-size: x-large;
   
}

form {
    display: inline-block;
}
.search-bar {
    margin-top: 30px;
}
.input-field {
    margin-bottom: 30px;
    border: 2px solid #ffcab0;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    width: 350px;
    height: 40px;
}
.input-field:hover {
    box-shadow: 2px 3px 10px #888888;
}
.search {
    background-color: #fddccb;
    border: 2px solid #f9722f;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    color: rgb(75, 74, 74);
    height: 40px;
    width: 150px;
    font-size: larger;
}
.search:hover {
    box-shadow: 2px 3px 10px #888888;
}

.current-location {
    background-color: #b1abf8;
    border: 2px solid #4e3ef8;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    color: rgb(75, 74, 74);
    height: 40px;
    width: 300px;
    font-size: larger;
}
.current-location:hover {
    box-shadow: 2px 3px 10px #888888;
}

.current-temperature {
    font-size: 55px;
}

.open-source {
    text-decoration: none;
    color: #4e3ef8;
}
.open-source:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.active {
    color: rgb(75, 74, 74);
    cursor: default;
}

.active:hover {
    color: rgb(75, 74, 74);
}

.image-temperature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature-units {
    padding-left: 0px;
    display: inline-block;
    margin-top: 0px;
    
}

.temperature {
    display: inline-block;
}

.precipitation {
    font-size: 18px;
}

.day-condition {
    font-size: 18px;
}

#condition {
    font-size: 25px;
}

.forecast:hover {
   
    border-radius: 10px;
    background-color:  #fddccb;
 
}

.weather-forecast-day {
    font-size: 17px;
}

.weather-forecast-temperatures {
    font-size: 14px;
}
.weather-forecast-min {
    opacity: 0.6;
}