h1 {
  padding-top: 0.625rem;
  padding-bottom: 0rem;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
.current-weather {
  margin: 0 0;
  font-family: "Space Mono", monospace;
  padding: 0.625rem;
  border-radius: 0.938rem;
  background-color: #fddccb;
}
.container {
  margin: 0.625rem auto;
  background-color: #91dbe5;
  height: 95vh;
  width: 100vw;
  font-family: "Space Mono", monospace;
  text-align: center;
  color: rgb(75, 74, 74);
  border-radius: 0.938rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

footer {
  font-family: "Space Mono", monospace;
  margin-top: 4.688rem;
  text-align: center;
  font-size: smaller;
}

.city {
  font-size: 3.75rem;
  font-weight: 400;
}

.today {
  font-size: x-large;
}

form {
  display: inline-block;
}
.search-bar {
  margin-top: 1.875rem;
}
.input-field {
  margin-bottom: 1.875rem;
  border: 0.125rem solid #ffcab0;
  border-radius: 0.313rem;
  transition: all 150ms ease-in-out;
  width: 21.875rem;
  height: 2.5rem;
}
.input-field:hover {
  box-shadow: 0.125rem 0.188rem 0.625rem #888888;
}
.search {
  background-color: #fddccb;
  border: 0.125rem solid #f9722f;
  border-radius: 0.313rem;
  transition: all 150ms ease-in-out;
  color: rgb(75, 74, 74);
  height: 2.5rem;
  width: 9.375rem;
  font-size: larger;
}
.search:hover {
  box-shadow: 0.125rem 0.188rem 0.625rem #888888;
}

/* .current-location {
  background-color: #b1abf8;
  border: 0.125rem solid #4e3ef8;
  border-radius: 0.313rem;
  transition: all 150ms ease-in-out;
  color: rgb(75, 74, 74);
  height: 2.5rem;
  width: 18.75rem;
  font-size: larger;
}
.current-location:hover {
  box-shadow: 0.125rem 0.188rem 0.625rem #888888;
} */

.current-temperature {
  font-size: 3.438rem;
}

.open-source {
  text-decoration: none;
  color: #4e3ef8;
}
.open-source:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.active {
  color: rgb(75, 74, 74);
  cursor: default;
}

.active:hover {
  color: rgb(75, 74, 74);
}

.image-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-units {
  padding-left: 0rem;
  display: inline-block;
  margin-top: 0rem;
}

.temperature {
  display: inline-block;
}

.precipitation,
.day-condition {
  font-size: 1.125rem;
}

#condition {
  font-size: 1.563rem;
}

.forecast:hover {
  border-radius: 0.625rem;
  background-color: #fddccb;
}

.weather-forecast-day {
  font-size: 1.063rem;
}

.weather-forecast-temperatures {
  font-size: 0.875rem;
}
.weather-forecast-min {
  opacity: 0.6;
}

@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 375px) {
}
